@avaldigitallabs:registry=https://avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:_auth=b3NjYXIuYmF1dGlzdGE6QUtDcEJydjZxNjVoNTFWZGdKcFFMU0RSeVdNN1FxeHZUSkxaV1pZMlo5VjM4SDN2UnpUc3hDV0c2ejdYU3JSaDZWdFRMOFB4aw==
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:email=oscar.bautista
//avaldigitallabs.jfrog.io/avaldigitallabs/api/npm/npm-local/:always-auth=true

@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:_auth=b2JhdXRpc0BiYW5jb2RlYm9nb3RhLmNvbS5jbzpBS0NwQnJ2NnE2NWgyOE53QkRpTFhldGZtczNpTWVqMnNnakJERVBNTXd0c0pWWWJCZXplaEdKNnRNOXFmS3E4VExLQVM1dWZu
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:always-auth=true